version: "3.9"

services:
  yt-captions-downloader:
    image: samson-art/yt-captions-downloader:latest
    build: .
    container_name: yt-captions-downloader
    ports:
      - "3000:3000"
    environment:
      PORT: "3000"
      HOST: "0.0.0.0"
      YT_DLP_TIMEOUT: "60000"
      YT_DLP_JS_RUNTIMES: "node"
      COOKIES_FILE_PATH: "/cookies.txt"
    volumes:
      - "./cookies.txt:/cookies.txt:ro"
    restart: unless-stopped

  yt-captions-mcp:
    image: artsamsonov/yt-captions-mcp:latest
    container_name: yt-captions-mcp
    command: ["npm", "run", "start:mcp:http"]
    stdin_open: true
    tty: true
    environment:
      MCP_PORT: "4200"
      MCP_HOST: "0.0.0.0"
      YT_DLP_TIMEOUT: "60000"
      YT_DLP_JS_RUNTIMES: "node"
      COOKIES_FILE_PATH: "/cookies.txt"
    ports:
      - "4200:4200"
    volumes:
      - "./cookies.txt:/cookies.txt:ro"
